<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.mvne.billing.creditcontrol.mapper.CreditControlSmsTempMapper">

    <resultMap id="creditControlSmsTemp" type="com.cmit.mvne.billing.creditcontrol.entity.CreditControlSmsTemp">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="MSISDN" jdbcType="VARCHAR" property="msisdn"/>
        <result column="REASON" jdbcType="VARCHAR" property="reason"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
</mapper>
