<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.mvne.billing.creditcontrol.mapper.CreditControlSmsMapper">

    <resultMap id="creditControlSms" type="com.cmit.mvne.billing.creditcontrol.entity.CreditControlSms">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="MSISDN" jdbcType="VARCHAR" property="msisdn"/>
        <result column="TEXT" jdbcType="VARCHAR" property="text"/>
        <result column="OPERATION" jdbcType="VARCHAR" property="operation"/>
        <result column="REASON" jdbcType="VARCHAR" property="reason"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate"/>
    </resultMap>
</mapper>
