<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.mvne.billing.user.analysis.mapper.CountryZoneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmit.mvne.billing.user.analysis.entity.CountryZone">
        <result column="COUNTRY_NAME" property="countryName" />
        <result column="COUNTRY_INITIALS" property="countryInitials" />
        <result column="COUNTRY_GROUP" property="countryGroup" />
        <result column="STATUS" property="status" />
        <result column="VALID_DATE" property="validDate" />
        <result column="EXPIRE_DATE" property="expireDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        COUNTRY_NAME, COUNTRY_INITIALS, COUNTRY_GROUP, STATUS, VALID_DATE, EXPIRE_DATE
    </sql>

</mapper>
