<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.mvne.billing.user.analysis.mapper.FreeResMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmit.mvne.billing.user.analysis.entity.FreeRes">
        <result column="PRODUCT_ID" property="productId" />
        <result column="FREERES_ITEM" property="freeresItem" />
        <result column="AMOUNT" property="amount" />
        <result column="MEASURE_ID" property="measureId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PRODUCT_ID, FREERES_ITEM, AMOUNT, MEASURE_ID
    </sql>

    <select id="selectByProductId" resultType="com.cmit.mvne.billing.user.analysis.entity.FreeRes" >
        select
        <include refid="Base_Column_List" />
        from free_res where PRODUCT_ID=#{productId}
    </select>

</mapper>
