<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.mvne.billing.user.analysis.mapper.IUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmit.mvne.billing.user.analysis.entity.IUser">
        <id column="ORDER_ID" property="orderId" />
        <result column="USER_ID" property="userId" />
        <result column="ACCT_ID" property="acctId" />
        <result column="CUST_ID" property="custId" />
        <result column="MSISDN" property="msisdn" />
        <result column="IMSI" property="imsi" />
        <result column="CHANNEL_CODE" property="channelCode" />
        <result column="VALID_DATE" property="validDate" />
        <result column="EXPIRE_DATE" property="expireDate" />
        <result column="USER_STATUS" property="userStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORDER_ID, USER_ID, ACCT_ID, CUST_ID, MSISDN, IMSI, CHANNEL_CODE, VALID_DATE, EXPIRE_DATE, USER_STATUS
    </sql>

    <select id="selectByOrderId" parameterType="Long" resultType="com.cmit.mvne.billing.user.analysis.entity.IUser">
        select ORDER_ID, USER_ID, ACCT_ID, CUST_ID, MSISDN, IMSI, CHANNEL_CODE, VALID_DATE, EXPIRE_DATE, USER_STATUS
        from i_user
        where ORDER_ID=#{orderId}
    </select>
    
    <select id="selectByOrderIdAndUserId" parameterType="Long" resultType="com.cmit.mvne.billing.user.analysis.entity.IUser">
        select ORDER_ID, USER_ID, ACCT_ID, CUST_ID, MSISDN, IMSI, CHANNEL_CODE, VALID_DATE, EXPIRE_DATE, USER_STATUS
        from i_user
        where ORDER_ID=#{orderId}
        and USER_ID=#{userId}
    </select>
    
</mapper>
