<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.mvne.billing.user.analysis.mapper.PmComponentUsagePriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmit.mvne.billing.user.analysis.entity.PmComponentUsagePrice">
        <id column="USAGE_ID" property="usageId" />
        <result column="CURVE_ATTRIBUTE_ID" property="curveAttributeId" />
        <result column="USAGE_CLASS" property="usageClass" />
        <result column="TENANT_ID" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USAGE_ID, CURVE_ATTRIBUTE_ID, USAGE_CLASS, TENANT_ID
    </sql>

</mapper>
