<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.mvne.billing.user.analysis.mapper.SysMeasureUnitExchangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmit.mvne.billing.user.analysis.entity.SysMeasureUnitExchange">
        <id column="MEASURE_ID" property="measureId" />
        <result column="DEST_MEASURE_ID" property="destMeasureId" />
        <result column="MEASURE_EXCHANGE_ID" property="measureExchangeId" />
        <result column="EXCHANGE_NUMERATOR" property="exchangeNumerator" />
        <result column="EXCHANGE_DENOMINATOR" property="exchangeDenominator" />
        <result column="TENANT_ID" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MEASURE_ID, DEST_MEASURE_ID, MEASURE_EXCHANGE_ID, EXCHANGE_NUMERATOR, EXCHANGE_DENOMINATOR, TENANT_ID
    </sql>

</mapper>
