<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<contextName>logback</contextName>

	<property name="log.path" value="/opt/mcb/mvne-billing-rating-gsm/log/" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<!--按天生成日志 -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.path}mvne-billing-rating-gsm.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<root level="info">
		<appender-ref ref="console" />
	</root>

	<logger name="com.cmsz.mvne.billing.rating.gsm" level="info"
		additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />

	</logger>

	<logger name="com.cmsz.mvne.billing.rating.gsm.mapper" level="trace"
		additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>

</configuration>